
<div class="py-5 border-top">
  <div class="container">

    <div class="row text-center text-md-left">

      <!--<div class="col-12 col-md-3">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>-->

      <div class="col-12 text-center">
                  <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
          <a href="mailto:daniele.ferone@unimib.it"><i class="fa fa-envelope fa-fw"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/fdaniele85/"><i class="fab fa-github fa-fw"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://bitbucket.com/fdaniele85/"><i class="fab fa-bitbucket fa-fw"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://gitlab.com/fdaniele"><i class="fab fa-gitlab fa-fw"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://scholar.google.it/citations?user=E6pSCuIAAAAJ&hl=it"><i class="ai ai-google-scholar"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.researchgate.net/profile/Daniele_Ferone"><i class="ai ai-researchgate"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://orcid.org/0000-0003-4696-7826"><i class="ai ai-orcid"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://dblp.uni-trier.de/pers/hd/f/Ferone:Daniele"><i class="ai ai-dblp"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/danieleferone/"><i class="fab fa-linkedin fa-fw"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/danieleferone"><i class="fab fa-twitter fa-fw"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/fdaniele85/"><i class="fab fa-instagram fa-fw"></i></a>
        </li>
        </ul>
      </div>
      <!--<div class="col-12 col-md-3 text-center text-md-right">
        <p>{{- site.description | escape -}}</p>
      </div>-->
    </div>
  </div>
</div>