<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto text-left">
          <li class="nav-item">
            <a class="nav-link" href="#publications">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#photos">Photos</a>
          </li>

        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {%- endif -%}
        {% endfor -%}
      </ul>
              <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/fdaniele85/"><i class="fab fa-github fa-fw"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://bitbucket.com/fdaniele85/"><i class="fab fa-bitbucket fa-fw"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.researchgate.net/profile/Daniele_Ferone"><i class="fab fa-researchgate fa-fw"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/danieleferone"><i class="fab fa-twitter fa-fw"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""><i class="fab fa-instagram fa-fw"></i></a>
        </li>
        </ul>

    </div>
  </div>
</nav>
